---
import Footer from '@/components/layout/Footer.astro';
import Sidebar from '@/components/layout/Sidebar';
import Layout from './Layout.astro';

interface Props {
	title?: string;
	description?: string;
	ogImage?: string;
	ogType?: 'website' | 'article';
	canonical?: string;
	noindex?: boolean;
	fullWidth?: boolean;
	articleDate?: Date;
	articleModified?: Date;
}

const {
	fullWidth = false,
	ogType = 'website',
	articleDate,
	articleModified,
	...layoutProps
} = Astro.props;
---

<Layout {...layoutProps} ogType={ogType} articleDate={articleDate} articleModified={articleModified}>
  <Sidebar client:only="react" transition:persist />
  <main
    id="page-content"
    class:list={[
      'flex-1 pt-[var(--section-padding-top)] max-[959px]:pt-[84px]',
      fullWidth ? '' : 'page-container',
    ]}
  >
    <slot />
  </main>
  <Footer />
</Layout>
